[program:netbox]
command = {{ netbox_install_directory }}/netbox/bin/gunicorn -c {{ netbox_install_directory }}/netbox/gunicorn_config.py netbox.wsgi
directory = {{ netbox_install_directory }}/netbox/netbox/
user = www-data
